/* ? main */
* {
    margin: 0;
    padding: 0;

    text-decoration: none;
}

a {
    color: black;
}

li {
    list-style: none;
}

.container {
    padding: 20px 40px;
}

/* ? body */
body {
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;

    box-sizing: border-box;
}

/* ? header */
.header {
    background-color: grey;

    color: white;
}

.header a,
.header p {
    color: white;

    font-size: 3em;
}

.header nav {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.header nav ul {
    display: flex;

    gap: 15px;
}

/* ? logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    background-color: white;
    color: black;

    border-radius: 15px;
}

.logo__img {
    width: 5em;
    height: 5em;
}

.header .login-button {
    height: 100%;
    padding: 10px 20px;

    border: none;
    border-radius: 5px;

    background-color: white;

    font-size: 2em;

    transition: 1s;

    box-sizing: border-box;

}

.header .login-button:hover {
    background-color: blue;
    color: rgb(255, 255, 255);

    transform: scale(1.01);

}

.header .login-button:focus {
    background-color: black;
    color: white;

    transform: scale(1.02);

}

/* ? main */
.main__inner {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;

    height: 100%;

}

.aside {
    display: flex;
    align-items: start;
    justify-content: left;

    height: 100%;
}

.left-aside {
    background-color: bisque;
}

.right-aside {
    background-color: aqua;
}

.main-content__inner {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

/* ? footer */
.footer {
    background-color: grey;

    color: white;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-networks {
    display: flex;
    gap: 10px;

    align-items: center;
    justify-content: center;
}


.social-networks img {
    width: 5em;
}