cs/OAIP/bin
cs/OAIP/obj
cs/OAIP/OAIP.csproj

cs/testProject/bin
cs/testProject/obj
cs/testProject/testProject.csproj

OAIP.sln
.vscode/launch.json
eclipse-formatter.xml
.vscode/settings.json
.idea

java/education/com/testProject

first-project