@font-face {
  font-family: "Roboto-light";
  src: url(../rec/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "Roboto-black";
  src: url(../rec/fonts/Roboto-Black.ttf);
}
.title {
  font-family: "Roboto-black";
}
.title2 {
  font-family: "Roboto-light";

  font-size: 22px;

  text-align: center;
}
.cost {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-size: 20px;
}
